/* Defaults for all pages */
.back { /* All pages besides the frontpage (should) have a little "back" hyperlink back to the frontpage. This is its style */
    font-style: italic;
    font-size: small;
    position: fixed;
    opacity: 80%;
    text-align: left;
}

.ending_footnote {
    font-style: italic;
    text-align: center;
    font-size: small;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transform: scaleX(0.8);
}

body {
    display: grid;
    overflow-x: hidden;
}
