/* This file is the main style for WazeSite */
body{
    display: grid;
    background-color: darkblue;
    overflow-x: hidden;
    font-family: 'Trebuchet MS';
}

p{
    font-family: 'Trebuchet MS';
    font-size-adjust: 1;
    font-weight: bolder;
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
}

a{ /* I had to reuse some code from the p selector because making the selector p,a would break ul/ol lists with hyperlinks in them because of the text-align that refuses to be overwritten. */
    display: block;
    color: #31c3c3;
    font-family: 'Trebuchet MS';
    font-size-adjust: 1;
    font-weight: bolder;
    letter-spacing: 0.05em;
}

h1,h2,h3,h4,h5,h6,.header{
    font-family: Impact, Haettenschweiler !important;
    font-size-adjust: 1.6;
    text-align: center;
    transform: scaleX(1.2) scaleY(1.07);
    display: block;
    text-decoration: underline;
}

.title{
    text-decoration: none;
    font-size-adjust: 3.33;
    text-shadow: 2px 2px 100px rgba(0,0,200,0.6);
    transform: scaleX(1.35);
    margin-bottom: 2.5em;
    font-style: italic;
}

div,article,nav{margin-bottom: 2.5em;}
section{margin-bottom: 4em;}

a:hover{
    font-style: italic;
    color: #68ffff;
}
a:visited{ color: #7deec8 !important; }

li{
    text-align: left !important;
    margin: auto;
    display: block;
}

ul,ol{
    margin: 5em;
    border: inset 0.6em;
    border-radius: 0;
}

strong,b,.emph{
    font-family: Impact, Haettenschweiler;
    display: inline-block;
    scale: 1.1;
    transform: scaleY(1.3);    
}