h1,h2,h3,h4,h5,h6{
    font-size-adjust: 0.61;
    text-align: center;
    transform: scaleX(1.1);
}

p,ul,ol,a{
    font-family: sans-serif;
    font-size: large;
}

.Disitus a, .Jermy a{
    font-size: xx-large;
}

.Disitus,.Jermy{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px 13px;
}


#mike:hover {
    transform: scaleX(2);
    rotate: 31deg;
    color: red;
    animation: mike 3s infinite;
}

@keyframes mike{
    0%,100%{transform: translateX(3);}
    50%{transform: translateX(0);}
}
