/* This file is for use as the default WazeSite style */
body{
    font-family: Impact, Haettenschweiler;
    display: grid;
    background-color: #3c46aa;
    text-align: center;
    padding: 20px;
    overflow-x: hidden;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC');
}

div{margin-bottom: 1.7em;}

p,li{
    font-size: 1.5em;
    color: whitesmoke; /* AKA "white but ever so slightly darker" */
    font-family: 'Trebuchet MS';
    font-weight: bold;
}

.title{
    transform: scaleX(1.4);
    font-size: 5em;
    text-decoration: underline;
    margin-bottom: 2.5em;
    text-shadow: 2px 2px 3px grey;
}

h1:not(.title),h2,h3,h4,h5,h6{
    font-family: Impact, Haettenschweiler;
    font-size-adjust: 2;
    transform: scaleX(1.2);
    text-shadow: 1px 1px 1px darkblue;
    font-style: italic;
}

hr{
    overflow: hidden;
    color: white;
    border-top: 3px double;
}

ol,ul{
    line-height: 2.3em;
    border: thick inset;
    border-radius: 7px;
}

li{transform: scaleY(1.1);}

a{color: blue;}
a:hover{color: #5656ff;}
a:visited{font-style: italic;}