body{
    display: grid;
    background-color: antiquewhite;
    margin: auto;
    padding: 20px;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-size-adjust: 1.5;
    font-family: Impact;
    transform: scaleX(1.35);
}

p,ul,ol{
    font-family: 'Trebuchet MS';
    font-size: larger;
}