body {
    display: grid;
    line-height: 1.5em;
    margin-left: 0;
    overflow-x: hidden;
}

.title {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 1em;
    font-family: Cambria, Cochin, Georgia, Times;
}

.intro {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 10px;
    transform: skewX(-8deg);
    display: block;
    text-align: center;
    font-size: 2.2em;
}

.intro_container{ margin-bottom: 4em; }

.upgrade {
    font-size-adjust: 4;
    background-color: rebeccapurple;
    border: inset 1em #42255f;
    border-radius: 2.4em;
    color: white;
}

.buttons,#debugshow,#debugnoshow {
    display: flex;
    justify-content: space-evenly;
    gap: 10px 25px;
    align-self: flex-end;
    flex-wrap: wrap;
}

#debugnoshow,#debugshow{
    gap: 10px 8px !important;
}

#debugshow{ margin: 0; }
#debugnoshow { display: none; }